# exclude all
/*

# include important folders
# include maven and its plugin-files
!.mvn/
!pom.xml
!mvnw
!mvnw.cmd

# include markdowns
!README.md
!LICENSE

# include sourcecode
!src/

# include git important files
!.gitignore

# include CI files
!appveyor.yml

# include jdeploy files
!package.json

# ignore stuff which happens due to testing
src/test/resources/input-shaded-or8.png
src/test/resources/input-shaded.png